#register-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    height: 60%;
    background-color: #1c1c1c;
    filter: drop-shadow(0 0 0.1rem #1c1c1c);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

#register-msg {
    font-family: sans-serif;
    letter-spacing: -1px;
    font-weight: 550;
    font-size: 3rem;
    color: white;
    margin-bottom: -1rem;
}

#register-desc {
    font-family: sans-serif;
    font-size: 0.8rem;
    color: white;
}

.register-input {
    border: 2px solid #262626;
    border-radius: 0.3rem;
    background-color: #262626;
    color: white;
    width: 40%;
    height: 2.8rem;
    padding-left: 1rem;
}

.register-input:focus{
    border: 2px solid white;
    caret-color: white;
}

.register-button {
    border: none;
    border-radius: 0.3rem;
    background-color: white;
    color: #262626;
    padding: 0.8rem;
    font-weight: 500;
}

.register-button:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.register-back-button {
    border: none;
    border-radius: 0.3rem;
    background-color: #1c1c1c;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -10px;
}

.register-back-button:hover {
    cursor: pointer;
    color: #e5e5e5;
}


